<%= form_for(@post) do |f| %>
    <%= render "shared/error_messages", :target => @post %>
    <p class = "field">
        <%= f.label :title %><br />
        <%= f.text_field :title, :class => "comment_text inputs" %>
    </p>

    <p class = "field">
        <%= f.label :body %><br />
        <%= f.text_area :body, :class => "comment_text textareas" %>
    </p>

    <p class = "actions">
        <%= f.label :category %><br />
        <%= f.text_field :category, :class => "comment_text"  %>
    </p>

    <p>
        <%= f.submit "Add post", :class => "submit" %>
    </p>
<% end %>
<%= button_to "Cancel", posts_path, :class => "submit", method: :get %>