<%= form_for(@post) do |f| %>
    <p class = "field">
        <%= f.label :title %><br />
        <%= f.text_field :title, :class => "comment_text inputs" %>
    </p>

    <p class = "field">
        <%= f.label :body %><br />
        <%= f.text_area :body, :rows => "20%", :class => "comment_text" %>
    </p>

    <p class = "actions field">
        <%= f.label :category %><br />
        <%= f.text_field :category, :class => "comment_text"  %>
    </p>

    <p class = "field">
        <%= f.label :video %><br />
        <%= f.text_field :video, :class => "comment_text"  %>
    </p>

    <p class = "field">
        <%= f.label :audio %><br />
        <%= f.text_field :audio, :class => "comment_text"  %>
    </p>

    <p>
        <%= f.submit "Add post", :class => "submit" %>
    </p>
<% end %>
<%= button_to "Cancel", posts_path, :class => "submit", method: :get %>