<section>
<% @post.each do |post| %>
    <%= link_to post_path(post) do %>
        <div class = "posts">
            <h2 class = "title"><%= post.title %></h2>
            <p class = "date">Submitted <%= time_ago_in_words(post.created_at) %> ago</p>
            <p class = "body text"><%= post.body %></p>
            <div class = "comments">
                <h3><%= post.comments.count %> comments</h3>
            </div>
        </div>
    <% end %>
<% end %>
</section>