<section>
    <div class = "posts read text"> 
        <h2 class = "title"><%= simple_format h(@post.title) %></h2>
        <p class = "date">Created <%= (@post.created_at.to_formatted_s(:long_ordinal)) %></p>
        <p class = "body read"><%=simple_format h(@post.body) %></p>
        <% if !@post.video.blank? %>
        <iframe class = "video" src = <%= @post.video %> frameborder="0" allowfullscreen></iframe>
        <% end %>
        <% if !@post.audio.blank? %>
        <iframe class = "audio" scrolling = "no" frameborder = "no" src = <%= @post.audio %>></iframe>
        <% end %>
        <% if user_signed_in? %>
            <%= link_to "Delete Post", post_path(@post), method: :delete, :class => "links post_links" %>
            <%= link_to "Edit Post", edit_post_path(@post), :class => "links post_links" %>
        <% end %>
    </div>
    <div class = "comments">
        <h2 class = "title"><%= @post.comments.count %> comments</h2>
        <%= render @post.comments %>
        <h4 class = "title">Add a comment:</h4>
        <%= render "comments/form" %>
    </div>
</section>