<!DOCTYPE html>
<html>
<head>
  <title>Write2Learn</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href = "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", :defer => "defer" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class = "header">
      <h1>Write2Learn</h1>
      <%= render "shared/searchForm" %>
    <% if user_signed_in? %>
      <%= link_to "Welcome Franx0", destroy_user_session_path, method: :delete, :class => "header_links" %>
    <% end %>
    </div>
  </header>

  <% if current_page?(root_path) %>
  <aside>
    <div>
      <%= link_to "All posts", posts_path, :class => "links" %>
      <%= link_to "About me", about_path, :class => "links" %>
    </div>
    <%= render 'shared/links_container' %>
  </aside>
  <% elsif current_page?(posts_path) %>
    <aside>
      <div>
        <ul>
          <li><%= link_to "Home", root_path, :class => "links" %></li>
          <li><%= link_to "About me", about_path, :class => "links" %></li>
          <% if user_signed_in? %>
          <li><%= link_to "New post", new_post_path, :class => "links" %></li>
          <% end %>
        </ul>
      </div>
      <%= render 'shared/links_container' %>
    </aside>  
  <% elsif current_page?(new_user_session_path) %>
  <% elsif current_page?(about_path) %>
    <aside>
      <div>
        <%= link_to "Home", root_path, :class => "links" %>
        <%= link_to "All posts", posts_path, :class => "links" %>
      </div>
      <%= render 'shared/links_container' %>
    </aside>
  <% else %>
    <aside>
      <div>
        <%= link_to "Home", root_path, :class => "links" %>
        <%= link_to "All posts", posts_path, :class => "links" %>
        <%= link_to "About me", about_path, :class => "links" %>
      </div>
    </aside>
  <% end %>

    <%= yield %>
  
  <footer>
      <div>&#169;Franx0</div>  
      Email:
      <a href = "https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=francisco.moya.martinez@gmail.com" target = "_blanck">francisco.moya.martinez@gmail.com</a>
  </footer>
</body>
</html>
